# docker aliases
alias dls='docker ps'
alias dlsa='docker ps -a'
alias dlsq='docker ps -q'
alias dlsqa='docker ps -qa'
alias dil='docker images'
alias dilq='docker images -q'
alias dpll='docker pull'
alias dpla='docker pull --platform linux/amd64'
alias dpsh='docker push'
alias dtg='docker tag'
alias drm='docker rm'
alias drmi='docker rmi'
alias dstop='docker stop'
alias dstart='docker start'
alias dexec='docker exec -it'
alias dre='docker restart'
alias dlog='docker logs -f'
alias dcp='docker cp'
alias dr='docker run -d'
alias drr='docker run -it --rm'
function dbu() {
  docker build -t $1 .
}

# git aliases create by antfu https://github.com/antfu
alias grt='cd "$(git rev-parse --show-toplevel)"'
alias gs='git status'
alias gp='git push'
alias gpf='git push --force'
alias gpft='git push --follow-tags'
alias gpl='git pull --rebase'
alias gst='git stash'
alias grm='git rm'
alias gmv='git mv'
alias main='git checkout main'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gb='git branch'
alias gbd='git branch -d'
alias grb='git rebase'
alias grbom='git rebase origin/master'
alias grbc='git rebase --continue'
alias gl='git log'
alias glo='git log --oneline --graph'
alias grh='git reset HEAD'
alias grh1='git reset HEAD~1'
alias ga='git add'
alias gA='git add -A'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit -a'
alias gcam='git add -A && git commit -m'
alias gfrb='git fetch origin && git rebase origin/master'
alias gxn='git clean -dn'
alias gx='git clean -df'
alias gsha='git rev-parse HEAD | pbcopy'
alias ghci='gh run list -L 1'

# Git clone with my gihub repositories
function gclz() {
  if [ -z $1 ]; then
    echo "Usage: gclz <repo_url_or_name>"
  else
    current_dir=$(pwd)
    cd ~/i
    case "$1" in
      http://*|git:*|https://*)
        git clone $1
        ;;
      *)
        git clone git@github.com:hiyongliz/$1.git
        ;;
    esac

    cd "$current_dir"
  fi
}

# pip aliases
alias p='pip'
alias pi='pip install'
alias pig='pip install -U'
alias pir='pip install -r requirements.txt'
alias pu='pip uninstall'
alias pug='pip uninstall -y'
alias pr='pip freeze'
alias prr='pip freeze > requirements.txt'
alias pls='pip list'

# python aliases
alias mkenv='pyenv virtualenv 3.12.4'
alias wkenv='pyenv activate'
alias leaenv='pyenv deactivate'
alias lsenv='pyenv versions'
alias rmenv='pyenv uninstall'
alias wk='workon'
alias lea='deactivate'
alias mkv='mkvirtualenv'

# history aliases
function h() {
  if [ -z $1 ]; then
    history
  else
    history | grep "$1"
  fi
}

# tar aliases
alias tarc='tar -cvfg'
alias tarx='tar -xvfg'

# tail aliases
alias tailf='tail -f'

# personal aliases
function i() {
  cd ~/i/$1
}

function dir() {
  mkdir $1 && cd $1
}

function codei() {
  i
  if [ ! -d $@ ]; then
    mkdir $@
  fi

  code "$@" && cd -
}

function traei() {
  i
  if [ ! -d $@ ]; then
    mkdir $@
  fi

  trae "$@" && cd -
}

function reload() {
  exec $SHELL
}

function kubectl() {
  if command -v kubecolor >/dev/null 2>&1; then
    kubecolor $@
  else
    command kubectl $@
  fi
}

# base64 encode and decode
function de64() {
  echo $1 | base64 -d
}

function en64() {
  echo $1 | base64
}

function vim() {
  if command -v nvim >/dev/null 2>&1; then
    nvim $@
  else
    command vim $@
  fi
}

function cat() {
  if command -v bat >/dev/null 2>&1; then
    bat --style=plain -P $@
  elif command -v batcat >/dev/null 2>&1; then
    batcat --style=plain -P $@
  else
    command cat $@
  fi
}

# UV alias
alias uvr='uv run'
alias uvi='uv init'
alias uvs='uv sync'
alias uva='uv add'
alias uvd='uv remove'

# git set user info
function gitsetglobal() {
  git config --global user.name "hiyongliz"
  git config --global user.email "644220198@qq.com"

  jj config set --user user.name "hiyongliz"
  jj config set --user user.email "644220198@qq.com"
}

alias claude='claude --dangerously-skip-permissions'
